.Layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.corporation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    max-height: var(--header-size);
}

.title {
    font-family: 'Passion One', sans-serif;
    color: var(--orange-base);
    font-size: var(--font-size-xxl);
    font-style: normal;
    line-height: normal;
}

.container {
    display: flex;
    gap: 127px;
}

.imageContainer {
    flex: 0 0 400px;
}

.image {
    height: 620px;
    width: 100%;
}

.content {
    flex: 1;
}

@media screen and (max-width: 1100px) {
    .container {
        gap: 58px;
    }
    .imageContainer {
        z-index: -1;
        position: absolute;
        left: -100px;
    }
}
@media screen and (max-width: 900px) {
    .imageContainer {
        z-index: -1;
        position: absolute;
        left: -220px;
    }
}

@media screen and (max-width: 900px) {
    .imageContainer {
        z-index: -1;
        position: absolute;
        left: -300px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        gap: 24px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .imageContainer {
        top: -11px;
        left: -240px;
    }

    .image {
        height: 436px;
    }
}