.Layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.corporation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    max-height: var(--header-size);
}

.title {
    font-family: 'Passion One', sans-serif;
    color: var(--orange-base);
    font-size: var(--font-size-xxl);
    font-style: normal;
    line-height: normal;
}
.container {
    display: flex;
    gap: 127px;
}

.imageContainer {
    flex: 0 0 400px;
}

.image {
    height: 620px;
    width: 100%;
}

.content {
    flex: 1;
}

@media screen and (max-width: 425px) {
    .container{
        width: 100%;
        gap: 24px;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .imageContainer{
        z-index: -1;
        position: absolute;
        top: -11px;
        left: -240px;
    }
    .image{
        height: 436px;
    }
}