.Cart{
    display: flex;
    flex-direction: column;
    gap:24px;
    height: calc(100vh - var(--header-size));
    width: 402px;
}

.list{
    display: flex;
    flex-direction: column;
    gap:24px;
    overflow-y: scroll;
    height: 100%;
}
@media screen and (max-width: 425px){
    .Cart{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        width: 279px;
    }
}