:root {
  --white-base: #fff;
  --gray: #E3E5E5;
  --black-base: #000;
  --orange-base: #F86600;
  --orange-smooth: #F8660026;

  /*sizes*/
  --font-size-xxl: 32px;
  --font-size-xl: 28px;
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--black-base);
  color: var(--white-base);
}

a {
  text-decoration: none;
}
